/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#loginButton {
  position: absolute;
  right: 10rem;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

#nav {
  display: flex;
  justify-content: space-around;
  left: 5px;
}

#inboxButton {
  margin-right: 5rem;
}

#introductionPic {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#joinForm {
  position: absolute;
  top: 10rem;
  left: 5rem;
  height: 35rem;
  width: 50rem;
  background: rgba(227, 171, 171, 0.54);
  text-align: center;
}

#navButton {
  text-align: center;
  height: 2.5rem;
  width: 10rem;
}

#emailandpass {
  display: flex;
  flex-direction: row;
}

#sex {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
}

#joinSection {
  margin-top: 12rem;
  display: flex;
  justify-content: space-evenly;
}

#sexButton {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
}

#genderButtonLeft {
  width: 18rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#genderButtonRight {
  width: 18rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#cards {
  position: relative;
  margin: auto;
  margin-bottom: 25%;
}

#threecards {
  margin-top: 8%;
}

#stars {
  padding: 10px;
  position: relative;
  left: 800px;
}

#button1 {
  /* z-index: 998; */
  position: relative;
}

#bottomcontainer {
  margin-top: 2rem;
}

#star1 {
  transition: all 0.2s ease-in-out;
}

#star1:hover {
  color: yellow;
  transform: scale(1.1);
}

#star2 {
  transition: all 0.2s ease-in-out;
}

#star2:hover {
  color: yellow;
  transform: scale(1.1);
}

#star3 {
  transition: all 0.2s ease-in-out;
}

#star3:hover {
  color: yellow;
  transform: scale(1.1);
}

#star4 {
  transition: all 0.2s ease-in-out;
}

#star4:hover {
  color: yellow;
  transform: scale(1.1);
}

#star5 {
  transition: all 0.2s ease-in-out;
}

#star5:hover {
  color: yellow;
  transform: scale(1.1);
}

#userName {
  float: left;
  margin-right: 10rem;
  font-weight: bolder;
  font-size: 15px;
}

body {
  width: 100%;
  background-color: #fffacd;
}

.footer {
  background-color: #d98b8b;
  bottom: 0;
  left: 0;
  position: relative;
  width: 100%;
}

.logo {
  font-family: "Edu VIC WA NT Beginner", cursive;
  margin-left: 15rem;
  height: 3rem;
}

.navbar {
  height: 4rem;
  width: 100%;
}

.statuscard {
  margin-bottom: 5%;
}
* {
  margin: 0;
  padding: 0;
}
/* .hero {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-position: center;
  background-size: cover;
  position: absolute;
}
.form-box {
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  background: white;
  padding: 5px;
}
.Button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0px 0px 20px 9px #ff61241f;
  border-radius: 30px;
}
.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
} */
#button-color {
  top: 0;
  left: 0;
  position: absolute;
  width: 110%;
  height: 100%;
  background: liner-gradient(to right, #ff105f, #ffad06);
  border-radius: 30px;
  transition: 0.5seconds;
}

.input-group {
  top: 180px;
  position: absolute;
  width: 100%;
  transition: 0.5seconds;
}
.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5x 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px soild #999;
  outline: none;
  background: transparent;
}
.login-form {
  max-width: 600px;
  padding: 25px;
  margin: 0 auto;
}
.login-page {
  width: 100%;
}

.mytabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 25px;
  border-top: 2px solid grey;
  margin-top: 2rem;
}

.mytabs input[type="radio"] {
  display: none;
}

.mytabs label {
  padding: 25px;
  font-weight: bold;
  background-color: #fffacd;
}

.mytabs .tab {
  width: 100%;
  padding: 20px;
  order: 1;
  background-color: #fffacd;
  display: none;
}

.mytabs .tab h2 {
  font-size: 1em;
}

.mytabs input[type="radio"]:checked + label + .tab {
  display: block;
}

.label {
  font-weight: bold;
  text-decoration: underline 2px;
  text-align: left;
  padding: 1rem;
}

.input {
  border-radius: 2rem;
  border-color: black;
  width: 45%;
  text-align: center;
}

#introPic1 {
  position: relative;
  width: 115%;
  height: 100%;
  margin-left: 100;
  z-index: -10;
}
#introPic2 {
  position: relative;
  width: 156%;
  height: 100%;
  margin-left: 100;
  z-index: -10;
}
.signupcontainer {
  position: absolute;
  top: 10rem;
  left: 5rem;
  height: 35rem;
  width: 50rem;
  background: rgba(227, 171, 171, 0.54);
  text-align: center;
}

.mainintro {
  display: flex;
  height: 100%;
}
/* .submit {
  margin: auto;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
} */
