/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

* {
  margin: 0;
}

#wrapper {
  margin-left:auto;
  margin-right:auto;
  width:960px;
}

#nav {
  position: relative;
  left: 300px;
}

#inboxButton {
  margin-right: 4rem;
}

#introductionPic {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#joinForm {
  position: absolute;
  top: 6rem;
  left: 5rem;
  height: 35rem;
  width: 50rem;
  background: rgba(227, 171, 171, 0.54);
  text-align: center;
}

#navButton {
  text-align: center;
  height: 2.5rem;
  width: 10rem;
}

#emailandpass {
  display: flex;
  flex-direction: row;
}

#sex {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
}

#joinSection {
  margin-top: 12rem;
  display: flex;
  justify-content: space-evenly;
}

#sexButton {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
}

#genderButtonLeft {
  width: 18rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#genderButtonRight {
  width: 18rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#cards {
  position: relative;
  margin: auto;
  margin-bottom: 25%;
}

#threecards {
  margin-top: 8%;
}

#stars {
  padding: 10px;
}

#button1 {
  /* z-index: 998; */
  position: relative;
}

#bottomcontainer {
  margin-top: 2rem;
}

#star1 {
  transition: all 0.2s ease-in-out;
}

#star1:hover {
  color: yellow;
  transform: scale(1.1);
}

#star2 {
  transition: all 0.2s ease-in-out;
}

#star2:hover {
  color: yellow;
  transform: scale(1.1);
}

#star3 {
  transition: all 0.2s ease-in-out;
}

#star3:hover {
  color: yellow;
  transform: scale(1.1);
}

#star4 {
  transition: all 0.2s ease-in-out;
}

#star4:hover {
  color: yellow;
  transform: scale(1.1);
}

#star5 {
  transition: all 0.2s ease-in-out;
}

#star5:hover {
  color: yellow;
  transform: scale(1.1);
}

body {
  background-color: #f4ddc7;
}

.footer {
  background-color: #d98b8b;
  bottom: 0;
  left: 0;
  position: relative;
  width: 100%;
}

.logo {
  font-family: "Edu VIC WA NT Beginner", cursive;
  margin-left: 15rem;
}

.navbar {
  height: 4rem;
}

.statuscard {
  margin-top: 20%;
}
* {
  margin: 0;
  padding: 0;
}
/* .hero {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-position: center;
  background-size: cover;
  position: absolute;
}
.form-box {
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  background: white;
  padding: 5px;
}
.Button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0px 0px 20px 9px #ff61241f;
  border-radius: 30px;
}
.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
} */
#button-color {
  top: 0;
  left: 0;
  poistion: absolute;
  width: 110%;
  height: 100%;
  background: liner-gradient(to right, #ff105f, #ffad06);
  border-radius: 30px;
  transition: 0.5seconds;
}
.input-group {
  top: 180px;
  position: absolute;
  width: 100%;
  transition: 0.5seconds;
}
.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5x 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px soild #999;
  outline: none;
  background: transparent;
}
.login-form {
  max-width: 600px;
  padding: 25px;
  margin: 0 auto;
}
.login-page {
  width: 100%;
}
